.search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    transition: width 0.3s ease;
  }
  
  .search-bar input {
    width: 100%;
    padding: 8px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
  }
  
  .search-bar button {
    margin-left: 8px;
    padding: 8px;
    background-color: #007bff;
    height: 40px;
    width: 100px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .search-bar.focused {
    width: 400px; /* Adjust the width as needed */
  }
  
  