.container{

    display: flex;
}

.image{
    width: 50%;
}

.form1{
    width: 50%;
    text-align: center;
    
}

h1{
    font-size: 25px;
}

.f1{

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

.f1 label{

    margin-left: 70px;
}

.f1 input{

    width: 400px;
    outline: none;
   background: transparent;
   border: 2px solid black;
   height: 38px;
   border-radius: 10px;
   margin-left: 50px;
   text-align: center;
}

.t1{

    margin-left: 50px;
    
}

.s1{
    margin-left: 70px;
    border: 2px solid black;
}