.b10{

    
    position: relative;
    top:50px ;
    left: 170px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: #1A4133;
    color: white;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: color 1s;
    
}


.b10:hover{

    color: #1A4133;
    background-color: #2B9342;

}

.b11{

    
    position: relative;
    top:50px ;
    left: 180px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: #1A4133;
    color: white;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: color 1s;
    
}


.b11:hover{

    color: #1A4133;
    background-color: #2B9342;

}

.b12{

    
    position: relative;
    top:50px ;
    left: 190px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: #1A4133;
    color: white;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: color 1s;
    
}


.b12:hover{

    color: #1A4133;
    background-color: #2B9342;

}

.b13{

    
    position: relative;
    top:260px ;
    left: -730px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: #1A4133;
    color: white;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: color 1s;
    
}


.b13:hover{

    color: #1A4133;
    background-color: #2B9342;

}

.b14{

    
    position: relative;
    top:260px ;
    left: -720px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: #1A4133;
    color: white;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: color 1s;
    
}


.b14:hover{

    color: #1A4133;
    background-color: #2B9342;

}

.b15{

    
    position: relative;
    top:60px ;
    left: 790px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: #1A4133;
    color: white;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: color 1s;
    
}


.b15:hover{

    color: #1A4133;
    background-color: #2B9342;

}

.b16{

    
    position: relative;
    top:50px ;
    left: 170px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: #1A4133;
    color: white;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: color 1s;
    
}


.b16:hover{

    color: #1A4133;
    background-color: #2B9342;

}