/* DeleteOrder.css */

.delete-order-container {
    border: 10px solid #6b7280;
    border-radius: 28px;
    padding: 16px;
    margin-top: 56px;
    display: flex ;
    flex-direction: column;
    align-items: center;
  }
  
  .delete-order-container .text-2xl {
    font-size: 1.5rem; /* Adjust font size as needed */
    margin-bottom: 46px;
  }
  
  .delete-button {
    padding: 16px;
    background-color: #ef4444;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #dc2626;
  }
  