/* Home.css */

.table-container {
  padding: 20px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.orders-table th,
.orders-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.orders-table th {
  background-color: skyblue;
}

.operations-column {
  width: 150px;
}

.operations-column a {
  margin-right: 8px;
}

.search-container {
  position: relative;
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-container button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #45a049;
}

/* Home.css */

.btn-generate-report {
  padding: 10px 20px;
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-generate-report:hover {
  background-color: #45a049; /* Darker green on hover */
}

