

.notification-container {
    padding: 20px;
  }
  
  .notification-header {
    text-align: center;
    font-size: 24px;
    color: #28a745; /* Main color is green */
    margin-bottom: 20px;
    margin-top: 60px;
  }
  
  .notification-list {
    display: grid;
    gap: 20px;
  }
  
  .notification-item {
    display: flex;
    align-items: center;
    border: 1px solid #d3d3d3; /* Adjust border color as needed */
    background-color: rgb(210, 219, 210);
    padding: 10px;
    border-radius: 7px; /* Add border radius for rounded corners */
  }
  
  .notification-item:hover {
    outline: 2px solid #06e970c5; /* Add outline on hover */
  }
  
  .notification-message {
    flex: 1;
  }
  
  /* Unique styles for buttons */
  .button-link {
    color: inherit; /* Inherit text color */
    text-decoration: none;
  }
  
  .view-btn, 
  .d-btn {    
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 12px;
  }
  .view-btn{    
    border: 1px solid #11b239;
  }
  
  .view-btn:hover,  
  .d-btn:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  .d-btn {
    color: #f30b2e; /* Red color for delete button */    
    border: 1px solid #c50f0f;
    margin-left: 10px; /* Add some space between buttons */
    
  }
  .click-path:hover{
    text-decoration: underline #11b239;
  }
  .click-path{
    color:#11b239;
    margin-right: 50px;
    font-size: large;
  }
  .notification-message{
    margin-left: 5px;
  }
 
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .popup-buttons {
    margin-top: 20px;
  }
  
  .popup-buttons button {
    margin: 0 10px;
  }
  .popup-buttons button.yes-btn {
    color: rgb(20, 18, 18);
    padding: 3px 10px;
    border: 2px solid red;
    border-radius: 8px;
  }
  .popup-buttons button.no-btn {
    color: rgb(20, 18, 18);
    padding: 3px 10px;
    border: 2px solid rgb(37, 34, 34);
    border-radius: 8px;
  }