/* ShowOrder.css */

/* Style for the main container */
.p-4 {
    padding: 1rem;
    
     /* Add padding for content spacing */
}

/* Style for the order container */
.flex-col {
    display: flex;
    flex-direction: column;
    border: 2px solid #87CEEB; /* Set border color for order container */
    border-radius: 0.5rem; /* Add border radius for rounded corners */
    width: fit-content; /* Set width to fit content */
    padding: 1rem; /* Add padding for content spacing */
    
}

/* Style for each order detail */
.my-4 {
    margin-top: 1rem; /* Add margin for vertical spacing */
}

/* Style for text and value */
.text-xl {
    font-size: 1.25rem; /* Set font size for text */
    margin-right: 0.5rem; /* Add margin for horizontal spacing */
    color: blue; /* Set color for text */
}


/* Additional styling as needed */
