
.inputs{

    display: flex;
    margin-top: 10px;
    flex-direction: column;
    position: relative;
    top: 30px;
    

     
    
}

.inputs input{

    outline: none;
    height: 40px;
    width: 500px;
    margin-bottom: 10px;
    padding-left: 10px ;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    
    
}

.inputs input:hover{
  
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.8); /* Set the glow effect */
}





form{
    
    position: relative;
    top: 60px;
    width: 620px;
    height: 700px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border-radius: 0 50px 0 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid black;
    border-top: 2px solid black;
   
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
    background-image: url("../image/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
   
  }

label{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px ;
}

form .button{

    
    position: relative;
    top:50px ;
    left: 170px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: #1A4133;
    color: white;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: color 1s;
    
}

form .button:hover{

    color: #1A4133;
    background-color: white;

}



h2{
    color: #fff; /* Set the text color */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Set the glow effect */
    font-weight: bold;
    position: relative;
    top: 25px;
}