.nav1{

    display: flex;
    flex-direction: row;
    gap: 500px;
    background-color: #1A4133;
}

.nav1 ul li{
    transition: transform 0.3s ease;
    
}

.nav1 ul li:hover{

    transform: scale(1.5,1.5);
}

.nav1 .list1{
    margin-left: 400px;
}